
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monospace", sans-serif;
  color: white;
}

body {
  height: 100dvh;
  background-color: #404a65;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4em;
  font-weight: 900;
  text-shadow: 2px 2px 0px #35383f;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #35383f;
}

p {
  font-weight: 600;
  font-size: 1.5em;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

footer {
  position: fixed;
  bottom: 1rem;
  place-self: center;
}

.coinrWapper {
  transition: all 1s ease-in-out;
}

.shadowWrapper {
  transition: all 1s ease-in-out;
}

.result {
  height: 2em;
}

#headSpan {
  display: none;
}

#tailSpan {
  display: none;
}

button {
  font-size: 1.25em;
  font-weight: 600;
  width: 10em;
  height: 3em;
  border-radius: 0.5em;
  border: none;
  box-shadow: 0px 4px 0px 0px #23649b;
  background-color: #1f6fb0;
  color: white;
  text-transform: uppercase;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
