@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  color: white;
}

body {
  height: 100dvh;
  background-color: #404a65;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 4em;
  font-weight: 900;
  text-shadow: 2px 2px 0px #35383f;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #35383f;
}

p {
  font-weight: 600;
  font-size: 1.5em;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

footer {
  position: fixed;
  bottom: 0;
  place-self: center;
}

.coinrWapper {
  transition: all 1s ease-in-out;
}

.shadowWrapper {
  transition: all 1s ease-in-out;
}

.result {
  height: 2em;
}

#headSpan {
  display: none;
}

#tailSpan {
  display: none;
}

button {
  font-size: 1.25em;
  font-weight: 600;
  width: 10em;
  height: 3em;
  border-radius: 0.5em;
  border: none;
  box-shadow: 0px 4px 0px 0px #23649b;
  background-color: #1f6fb0;
  color: white;
  text-transform: uppercase;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
